
body { transition: margin-top .2s linear; }
.body-margin-top { margin-top: 35px; }

/* Légère transition sur les FontAwesome */
/* .fa { transition: all 0.3s; } */


/* Class de mise en page générique si pas style.css */
/*
.fl { float: left; }
.fr { float: right; }

.mat { margin: 0.5rem; }
.pat { padding: 0.5rem; }

#admin-bar .fa:before { content: '¤'; }
#admin-bar .none { display: none; }
*/


/* Admin */
#admin-bar {		
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgba(240, 240, 240, 0.8);	
	box-sizing: padding-box;	

	text-shadow: none;
	color: #000000;
	font-family: Arial;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;

	transition: background-color .3s linear;
	animation: slide-down .3s 1 ease-out;
}
	@keyframes slide-down {
	    0% { transform: translate3d(0, -100%, 0); }
	    100% { transform: translateY(0, 0, 0); }
	}

	#admin-bar:hover { background-color: rgba(240, 240, 240, 0.95); }

	#admin-bar h3 {
		font-family: arial;
		position: inherit;
		padding: inherit;
	}

	#admin-bar #list-content i,
	#admin-bar #tutoriel i {
		cursor: pointer;

		color: #75898c;

		/* background: #75898c;
		color: #fff;
		border-radius: 100%;
		width: 22px;
		height: 22px;
		line-height: 22px; */
	}
		#admin-bar #list-content i:hover,
		#admin-bar #tutoriel i:hover
		{ color: #6b6f7a; }

	#admin-bar #user i { color: #75898c; cursor: pointer; }
		#admin-bar #user i:hover { color: #6b6f7a; }
		#admin-bar #user .absolute { position: absolute; }
		#admin-bar #user .absolute .load { min-width: 298px; }
		#admin-bar #user .absolute .load .scroll { 
			overflow-y: auto;
			max-height:  500px;
		}
		#admin-bar #user .absolute i { color: #75898c; transition: color .3s; }
		#admin-bar #user .absolute i:hover { color: #6b6f7a; }
		#admin-bar #user .absolute li { 
			background-color: #ffffff;
			cursor: pointer;
			transition: background-color .2s linear;
		}
			#admin-bar #user .absolute li:nth-child(odd) { background-color: #eaecec; }
			#admin-bar #user .absolute li.next {
				background-color: #dbdfe0;
				box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
				border-radius: 0 0 3px 3px;
				text-align: center;
			}
			#admin-bar #user .absolute li:hover { background-color: #d8caa9;
			}


	#admin-bar input { padding: initial; }
	#admin-bar input, .tooltip input, .ui-dialog input {			
		background-color: transparent;
		color: #516062;
		border: none !important;
		border-bottom: 1px dotted #9cabad !important;
		font-family: Arial;
		box-shadow: none;
		border-radius: 0;
		height: auto;
	}


	/* title */
	#admin-bar #meta-responsive { color: #75898c; cursor: pointer; }

	/* description */
	#admin-bar #meta > div {
		display: none; 
		position: absolute;
	}
	#admin-bar #meta:not(.nofire):hover > div { display: block; }


	#admin-bar #close {
		color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
		transition: color .3s linear;
	}
	#admin-bar #close:hover { color: #9E1E1E; }


	#admin-bar select {
		background: transparent;
		border: none;
	}


	#admin-bar button, .tooltip button, .dialog button {	
		/* box-shadow: inset 0px 1px 3px 0px #91b3b8; */
		background-color: #75898c;
		border-radius: 5px;
		border: 0px solid #6b6f7a;		
		display: inline-block;		
		padding: 2px 8px;
		height: auto;
		cursor: pointer;
		color: #ffffff;
		font-family: Arial;
		font-weight: bold;
		text-decoration: none;
		/* text-shadow: 0px -1px 0px #2c5f66; */
		transition: background-color .3s;
	}
		#admin-bar button:hover, .tooltip button:hover, .dialog button:hover { background-color: #6b6f7a; }
		#admin-bar button:active, .tooltip button:active, .dialog button:active {
			position: relative;
			top: 1px;
		}

		button.to-save { 
			background-color: #9E1E1E !important;
			color: white;
		}

		button.saved { background-color: #8dad33 !important; }/*#1BA238*/


	/* Bouton d'activation en slide/switch */
	/* Fond */
	#admin-bar .switch label {
		background: #9E1E1E;
		box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, .1);
		
		position: relative;
		display: inline-block;

		min-width: 38px;
		height: 16px;
		margin: 0;
		border-radius: 5px;
		line-height: 15px;

		vertical-align: text-bottom;

		font-style: normal;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .1);

		cursor: pointer;

		transition: all .3s ease-in;		
	}	
		/* Croix du désactivé */
		#admin-bar .switch label:before {
			font-family: FontAwesome;
			content: "\e813";/* Off f00d e82a */
			margin-left: 18px;
			transition: all .2s ease;
		}

		/* Couleur de fond si activé */
		#admin-bar .switch input[type=checkbox]:checked ~ label{
			background: #8dad33;
		}
			/* Activé */
			#admin-bar .switch input[type=checkbox]:checked ~ label:before {
				font-family: FontAwesome;
				content: "\e812";/* On f00c e80d */
				margin-left: 6px;
			}
			/* Calage du bouton si activé */
			#admin-bar .switch input[type=checkbox]:checked ~ label i {
				right: -4px;
			}

		/* Bouton */
		#admin-bar .switch label i {
			background: #ffffff;
			box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);

			position: absolute;
			display: block;

			top: -2px;
			/* right: 25px; */
			margin-left: -5px;

			width: 18px;
			height: 18px;
			border-radius: 18px;

			transition: all .2s ease;
		}
			/* Interieur du bouton */
			#admin-bar .switch label i:before {
				background: #efefef;
				box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);

				content: "";
				display: block;
				position: absolute;

				top: 50%;
				left: 50%;

				width: 10px;
				height: 10px;
				margin: -5px 0 0 -5px;

				border-radius: 18px;
			}

			/* Hover du bouton */
			#admin-bar .switch label:hover i {
				box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
			}
			/* On click sur le bouton */
			#admin-bar .switch label:active i:before {
				box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
			}


	/* Couleur de la note ecoindex */
	#ecoindex span {
		display: inline-block;
		width: 18px;
		height: 18px;
		font-size: 12px;
		line-height: 18px;
		margin: 0.1rem 0 0 0.5rem;
		text-align: center;
		border-radius: 50%;
		background-color: #f00;
	}	
		#ecoindex span.A { background-color: #349A47; color: #fff; }
		#ecoindex span.B { background-color: #51B84B; color: #fff; }
		#ecoindex span.C { background-color: #CADB2A }
		#ecoindex span.D { background-color: #F6EB15 }
		#ecoindex span.E { background-color: #FECD06 }
		#ecoindex span.F { background-color: #F99839; color: #fff; }
		#ecoindex span.G { background-color: #ED2124; color: #fff; }



/* Génération site statique */
#generate {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(240 240 240);
    color: #000000;
    font-family: Arial;
    position: fixed;
    width: fit-content;
    border-radius: 0 0 5px 5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 0;
    font-size: smaller;
    right: 0;
    z-index: 10;
}

/* Progression de la sauvegarde */
#progress {
	width: 0;
	height: 4px;
	top: 30px;
	position: fixed;
	z-index: 11;
	background-color: #78cfd6;
	transition: all 1s; 
}



/* Layer tooltip */
.tooltip, .ui-autocomplete { 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color: rgba(245, 245, 245, 0.95) !important;
	border-radius: 5px;
	/* overflow: hidden; => fait que l'on ne voie pas les elements du menu sortir lors du drag */
}
	.tooltip label { margin-top: 0;	}

	.ui-autocomplete li { font-size: .9em; }


/* Taille max pour l'affichage de l'image de partage */
#admin-bar #og-image img {
	max-width: 320px;
	max-height: 320px;
}


/* HEADER */
header { 
	z-index: 10;
	position: relative;
}


/* Menu de navigation */
header nav ul { position: relative; }
	header nav .tooltip ul { 
		background-color: transparent;
		box-shadow: none;
	}
	header nav li { position: relative; }

	header nav .burger.active + ul {
		padding-top: 4.5rem;/* Pour que le menu en responsive soit bien en dessous de l'admin bar */
	}

/* Barre pour déplacer un élément du menu */
.dragger {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjaGBgAAABhACBKN161wAAAABJRU5ErkJggg==') repeat;

	position: absolute;

	width: 100%;
	height: 8px;

	top: -10px;
	
	left: 0;
	/*margin-left: -0.5rem;*/

	cursor: move;

	display: none;
}
	header:hover .dragger { display: block; }


/* Croix rouge pour supprimer un élément du menu */
nav ul li i.fa-cancel {
	display: none;
	position: absolute;
	cursor: pointer;
	padding: 0 2px 2px;
	top: -5px;
	right: -5px;
	z-index: 1;
}
	nav > ul li:hover i.fa-cancel { display: block; }


/* Menu d'ajout/supp au menu */
#add-nav {
	position: fixed;

	right: 0;/* 1rem */
	/* -3rem @todo voir si ça ne crée pas de bug*/
    /* margin-left -6rem */

	display: none;/*block !important*/
		
	opacity: 0.8;	

	z-index: 10;/*-1*/

	font-family: arial;
}
	#add-nav:hover { opacity: 1 !important; }

	#add-nav .tooltip { 
		min-width: 210px;
		max-height: 300px;
		overflow-y: auto;
	}

	#add-nav ul { 
		border: none;
		float: none;
	}
	#add-nav li {
		background-color: #fff;
		
		display: block;
		position: relative;
		float: none;
		
		margin: 0.5rem 0 0;
		padding: 0 0.5rem;

		cursor: move;
		
		border-radius: 5px;
		border: 0;
	}
	#add-nav li a { 
		color: #000 !important;
		cursor: move;
		padding: 0;
		margin: 0;

		font-size: initial;
		font-weight: initial;
		text-transform: initial;
	}
		#add-nav li a:after { display: none; }
		
	#add-nav .dragger {
		background: none;

		width: 10px;
		height: 12px;

		display: block;

		left: -13px;
		top: 0px;

		cursor: pointer;
	}
		#add-nav .dragger:before {
			content: "\e80c";/*fa-plus*/
			font-family: FontAwesome;
		}


	/* bt de fermeture du menu d'ajout */
	#add-nav .fa-cancel {
		position: absolute;
		top: 12px;
		right: 2px;
		cursor: pointer;
	}


	#add-nav .zone {	
		/* background-color: rgba(245, 245, 245, 0.95);
		border: 2px dashed;
		border-radius: 100%;
		border-color: #7ad2d9; */	

		border-radius: 100% 0 0 100%;	
		border-right: 0px;

		display: inline-block;
		
		/* margin: -4rem 0 0; plus utiliser si on force la position */
		padding: 5px 0px 8px 5px;

		cursor: pointer;

		transition: all .3s;
	}
		#add-nav.open .zone { margin: 0; }
		
	#add-nav.open {	
		margin: 0;
		right: 1rem;
		top: initial !important;
	}
	#add-nav.open .zone {	
		border-radius: 30px 30px 0 0;
		border-bottom: none;
		padding: 5px 10px 5px;
	}

	#add-nav.del .zone {	
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) inset;
		border-color: #df7578;
	}
	/* #add-nav.del ul {
		padding-top: 55px;
		margin-top: -55px;
	} */
	


/* CONTENT */

/* Erreur d'accessiblité */
.dialog-access { padding: 0.5em 0.5em 0 0.2em !important; }

.dialog-access span { border-radius: 10%; }

.access_empty { border: 1px #C51A1B dotted; border-radius: 5px; }
	.access_empty.active { background-color: #c51a1a7a;}

.access_div { border: 1px #781ac5 dotted; border-radius: 5px; }
	.access_div.active { background-color: #781ac55c;}

.access_titre { border: 1px #c5a61a dotted; border-radius: 5px; }
	.access_titre.active { background-color: #c5a61a7c;}

.access_brbr {
	content: '';
    display: table-cell;
	width: 20px;
	border: 1px #c5671a dotted;
	border-radius: 5px;
}
	.access_brbr:after { 
		content: '';
		border: 1px transparent dotted;
	}
	.access_brbr.active { background-color: #c5671a6b;}
	.dialog-access .access_brbr { display: inline; }

.access_alt, .access_fig { border: 1px #1abfc5 dotted; border-radius: 5px; }
	.access_alt.active, .access_fig.active { background-color: #1abfc579;}


/* block éditable */

/*article { width: 100%; }*//* pour que le bloc éditable prenne bien toute la largeur */

.lucide .editable, .lucide [contenteditable=true], a[name] {
	border-bottom: 1px dotted rgba(61, 128, 179, 0.2) !important;
	outline: none;/* supp le bord bleu de sélection chrome */

	/*display: initial;inline-block*//* SUPP ?? doublon avec la valeur dans global css */
	/*width: inherit;*//* en lien avec w article 100% */
}
	.lucide .editable:hover, .lucide [contenteditable=true]:hover {
		border-bottom: 1px dotted rgba(61, 128, 179, 1) !important;
	}

	[contenteditable=true]:empty:before { 
		position: initial;/* sécurise l'affiche du placeholder si un style est attribué au before */
		content: attr(id);
		opacity: .6;
	}
	[contenteditable=true][placeholder]:empty:before { 
		content: attr(placeholder); 
		opacity: .6;
	}

	[contenteditable=true] p:after { 
		/* content: "Paragraphe"; */
	    font-family: FontAwesome;
	    content: "\f1dd";
		opacity: .5;
		padding-left: 0.2rem;
		/*
		position: absolute;
		left: -15px;
		top: 0;
		*/
	}
		p.focus:after { color: green !important; }
		p:hover:after { opacity: .8; }

		.nobr { display: none; }/* pour bien afficher le P à la suite du texte */

		/* [contenteditable=true] p br:last-of-type,
		[contenteditable=true] p br:last-child
		{ display: none; } */

	/* Rend visible les grilles en mode édition */
	.editable [class^="grid"] p,
	.editable [class^="grid"] div {
		border: 1px dotted rgba(61, 128, 179, 0.2) !important;
		min-height: 3rem;
	}
	
	.editable-media[placeholder]:before { 
		content: attr(placeholder);
		opacity: .6;
		padding-top: 0.5rem;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
	}
		.editable-media[placeholder]:hover:before { content: ''; }

	.editable .ui-wrapper {		
		overflow: inherit !important;
		box-shadow: 0 0 0 1px #d8e6f0 inset;
	}
	.editable img {	cursor: default; }


/* On se met en mode pour voir le code source */
.view-source {
	text-align: left;
	white-space: pre-wrap;
}


/* checkbox éditable */
.editable-checkbox {
	cursor: pointer;
}


/* image & fichier éditable */
.lucide .editable-media {
	background-color: rgba(61, 128, 179, 0.05);
	display: inline-block;
    position: relative;
	overflow: hidden;
	vertical-align: middle;
	min-width: 70px;
	min-height: 70px;
	border: 1px dotted rgba(61, 128, 179, 0.2);
}
	.lucide .editable-media img { 
		margin: -1px;
		transition: none !important;/* Plus stable pour les drag&drop */
	}
	
	.drag-zone { border: 2px dashed #75df83 !important; }
	.drag-over { border: 2px dashed #7AD2D9 !important; cursor: pointer; }
	img.drag-elem { margin: -2px !important; }
	/* @todo: problème décalage sur les grandes images au hover */

	.open-dialog-media {
		position: absolute;
		top: 0;
		padding-top: 5px;
		width: 100%;

		z-index: 1;

		color: #7AD2D9;		
		font-size: 0.8em;
		font-family: sans-serif;
		text-align: center;
		text-shadow: 1px 1px 0px #ffffff;

		display: none;
	}



/* Image éditable en bg & Bouton Module */
.editable-bg {
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEX29vbu7u4m5kP6AAAAAnRSTlPMzIMO2+EAAABPSURBVAjXxc2xEYAwDMVQcRSUjMAoGS2MxigZIWWKXIw1ADXt1zubY1IfzkHcXH0LKG1f5JglxyyEhWVhWhgW5BfygrwiD74OyTvy9tffFyMcWadHur+/AAAAAElFTkSuQmCC') repeat scroll 0 0;
	
	position: relative;
	transition: background .3s, box-shadow .3s;
}
	.editable-bg:hover { box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset; }

	.editable-bg > .bg-tool, .module-bt a {
		display: none;
		position: absolute;
		z-index: 8;
		top: 0;
		right: 0;
		line-height: 30px;
		font-size: initial;
	}
	.editable-bg > .bg-tool .open-dialog-media, .module-bt a {
		box-shadow: none;/*inset 0px 1px 3px 0px #91b3b8*/
		background-color: #75898c;/*rgba(117, 137, 140, .6)*/
		border-radius: 5px;
		/* border: 1px solid #909090; */	

		color: #fff;/*#7AD2D9*/
		font-size: 1.5rem;/*inherit*/
		font-family: sans-serif;
		text-shadow: none;/*1px 1px 1px #2c5f66*/
		text-decoration: none;

		opacity: .6;
		
		width: initial; /* inherit */
		padding: 0 6px;
		margin: 10px 10px 0 0;

		transition: opacity .3s, background .2s;
	}
	.editable-bg > .bg-tool .open-dialog-media { 
		position: relative;
		display: inline-block !important;
	}
	.editable-bg > .bg-tool .open-dialog-media:hover,
	.editable-bg > .bg-tool .clear-bg:hover,
	.module-bt a:hover, .module-bt .move.selected {
		/* background-color: rgba(117, 137, 140, 1); */
		opacity: 1;
		color: #7AD2D9;	
	}
		.under-header.editable-bg > .bg-tool .open-dialog-media, .fullpage.editable-bg > .bg-tool .open-dialog-media {/* cas ou on place le bt en bas de la zone bg */
			top: initial;
			bottom: 10px;
		}

	.editable-bg > .bg-tool .clear-bg {		
		color: #75898c;	
		font-size: 1.5em;
		vertical-align: sub;

		margin: 0 12px 0 0;

		opacity: .6;
		transition: all .3s; 
	}


/* TAG */
.tag-container {
	display: inline-block;
}
	.layer-tag {
		z-index: 100;
	}

	.editable-tag-ordre { width: 45px; }


/* Module */

.module { min-height: 55px; }
	.module li { position: relative; }

.module-bt {
	position: absolute;	
	top: 0;
    right: 0;
    z-index: 10;
}
	.module-bt a { 
		position: relative;
		display: inline-block;
	}
	.module .ui-sortable-handle { 
		box-shadow: rgba(122, 210, 217, 0.5) 0px 0px 20px 2px !important;
		cursor: move;
	}


/* Hidden éditable & Href éditable & alt éditable */
.editable-input, .editable-href, .editable-select.none, .editable-alt {	
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEX29vbu7u4m5kP6AAAAAnRSTlPMzIMO2+EAAABPSURBVAjXxc2xEYAwDMVQcRSUjMAoGS2MxigZIWWKXIw1ADXt1zubY1IfzkHcXH0LKG1f5JglxyyEhWVhWhgW5BfygrwiD74OyTvy9tffFyMcWadHur+/AAAAAElFTkSuQmCC') repeat scroll 0 0;
	border-style: dotted;
}

/* Href éditable */
[data-href] {	
	position: relative;
    display: inline-block;
}
	.editable-href, .editable-alt {	
		position: absolute;
		text-align: center;		
		font-size: initial;
		font-family: Arial;
		width: 100%;
		min-width: 100px;
		display: block;
		opacity: 0;
	}

/* ALT éditable */
.editable-alt {
	font-size: 1.2rem;	
	top: 0;
	z-index: 2;
	opacity: 1;
	display: none;
}



/* Fenêtre de gestion des médias */
.ui-dialog { text-shadow: none !important; }

.ui-dialog #recherche-media {/* Position du moteur de recherche de média */
	position: absolute;
    top: 4px;
    right: 0px;
    z-index: 1;
}

.dialog-media li { 
	background: #eee none repeat scroll 0 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
	
	position: relative;

	overflow: hidden;

	float: left;

	width: 130px;
	height: 110px;

	line-height: 100px;

	cursor: pointer;	
	
	transition: background .2s;
}	
	.dialog-media li .file {
		vertical-align: middle;
		overflow: auto;
		display: inline-block;
		overflow: hidden;
		line-height: 2;
		max-height: 100px;		    
		max-width: 120px;
	}
		.dialog-media li .file i {
			padding-bottom: 0.5rem;
		}

	.dialog-media li img {
		max-width: 120px;
		max-height: 96px;
		vertical-align: middle;
		transition: opacity .5s;
	}
	
	.dialog-media li .copy { 
		position: absolute;
		display: none;
	    top: -20px;
	    padding: 0 14px 0 12px;
	    animation: fade-in .2s;
	}	
		.dialog-media li .copy input { 
			background-color: #fff;
			width: 100%;
			line-height: normal;
		}	

	.dialog-media li .mime { 
		background-color: rgb(255 255 255 / 0.8);
		position: absolute;
		display: none;
	    font-size: 8px;
	    top: 4px;
	    right: 4px;
	    line-height: 14px;
	    padding: 1px 3px;
	    border-radius: 2px;
	    animation: fade-in .2s;
		height: 16px;
    	overflow: auto;
	}

	.dialog-media li .infos { 
		box-shadow: inset 0px -22px 10px -10px #fff;/*0 0 0 1px rgba(0, 0, 0, 0.15) inset*/

		bottom: 0;
		left: 0;
		right: 0;	
		
		line-height: 16px;

		margin: 1px;

		position: absolute;			
		display: none;

		animation: fade-in .2s;
	}

		@keyframes fade-in {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}


	.dialog-media li .resize,
	.dialog-media li .supp,
	.dialog-media li .open { 
		line-height: 18px;

		position: absolute;			
		display: none;
		opacity: 0.5;

		z-index: 1;
	}
		.dialog-media li .resize:hover,
		.dialog-media li .supp:hover,
		.dialog-media li .open:hover 
		{ opacity: 1; }

	.dialog-media li .resize,
	.dialog-media li .open { 
		bottom: -1px;
		left: 2px;
	}
		
	.dialog-media li .supp { 
		bottom: -1px;
		right: 2px;
	}

	.dialog-media li.add-media {
		background: #f5f5f5;
		border: 2px dashed #7AD2D9;
		border-radius: 5px;
		line-height: inherit;
		height: 110px;
	}
		.dialog-media li.add-media.dragover { 
			background: rgba(117, 223, 131, 0.4);
			border: 2px dashed #75df83;
		}

	.dialog-media li:hover,
	.dialog-media li.select
	{ background: #fff; }
	
	.dialog-media li:hover > .copy,
	.dialog-media li:hover > .mime,
	.dialog-media li:hover > .infos,
	.dialog-media li:hover > .supp,
	.dialog-media li:hover > .resize,
	.dialog-media li:hover > .open 
	{ display: block; }


	.dialog-optim-img li { 
		border-bottom: 1px solid #d3d3d3;
		margin-bottom: 0.5rem;
	}
	.dialog-optim-img img { border: 1px solid #bbbbbb; }
	.dialog-optim-img a { 
		text-decoration: underline;
		margin-top: 0.5rem;
	}

	.dialog-alert { border: 5px solid red !important; }


	/* Image à moitié transparante */
	.to50 {
		opacity: 0.5;
		animation: fade-50 .5s 1;
	}
		@keyframes fade-50 {
			0% { opacity: 0; }
			100% { opacity: 0.5; }
		}


	/* Onglet JQuery UI */
	.ui-tabs { padding: 0 !important; }

		.ui-tabs .ui-dialog-title {
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.ui-tabs .ui-tabs-nav {
			border-bottom: 1px solid #aaaaaa;
			padding: .5em 1em 0 .8em !important;
		}
			.ui-tabs .ui-tabs-nav li { box-shadow: inset 0 -10px 15px -14px #000; }

		.ui-tabs .ui-tabs-panel { padding: 0.5rem; }

		.ui-tabs .ui-state-active { background: #f1f4f7; }
			.ui-tabs li.ui-state-active { box-shadow: none; }

	/* Icone Upload */
	
	.uploading:before {
		font-family: FontAwesome;
		font-size: 4rem;
		color: rgba(0, 0, 0, 0.1);

		content: "\f1ce";

		animation: fa-spin 2s infinite linear;

		display: block;
		position: absolute;
		width: 120px;
	}
	.uploaded:before {
		font-family: FontAwesome;
		font-size: 5rem;
		color: #5eba7d;

		content: "\e80a";/*fa-ok*/

		animation: fade-in-out 1s ease forwards;

		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

		display: block;
		position: absolute;
		width: 100%;/*120px*/
		height: 100%;
	}
		@keyframes fade-in-out {
			0%,100% { opacity: 0; }
			50% { opacity: 1; }
		}


/* Fenêtre de gestion des icônes */
.dialog-icon li i { cursor: pointer; }
	.dialog-icon li i:hover { color: #6b6f7a; }

/* Fenêtre de suppression */
.dialog-del li { 
	display: inline-block;
	margin: 1.5rem 1rem 0 1rem;
}
	.dialog-del li label { margin: 0; }
	.dialog-del li img { 
		max-width: 32px;
		max-height: 32px;
	}


/* Hack Jquery UI style */
.ui-widget-header {
	background: #f5f5f5;
	border: none;
	font-weight: normal;	
}
/* Pas accessible. A SUPP 19/04/22
.ui-widget-content {
	background: rgba(241, 244, 247, 0.8) none repeat scroll 0 0;
    border: none !important;
	transition: background .2s;
}
	.ui-widget-content:hover {
		background: rgba(241, 244, 247, 0.9) none repeat scroll 0 0;
	} */

.ui-dialog-content { border: none !important; }

/* force la couleur de fond pour access */
.ui-button { 
	background: #fff !important;
	color: #555 !important;
}
	.ui-button:hover { background: #dadada !important; }
	.ui-button .ui-icon { background-color: initial !important; }

.ui-effects-transfer {
    border: 4px dashed #7AD2D9;
	background: rgba(122, 210, 217, 0.2);
}


/* Style lors du dragover */
.body-dragover { 
	box-shadow: 0 0 15px rgba(0, 0, 0, 1) inset;
}


/* Style et initialisation de la toolbox */
.toolbox {	
	border-radius: 4px;

	list-style: none;

	font-family: Arial;
	font-size: initial;

	padding: 0;	
	margin: 0;

	/*height: 24px; SUPP ?*/

	position: absolute;
	display: none;

	opacity: 0.8;
	z-index: 11;

	animation: fadeInToolbox .3s ease-in;
	transition: all .24s ease-in-out;
}
	@keyframes fadeInToolbox {
		0% { opacity: 0; }
		100% { opacity: 0.8; }
	}

	.toolbox li {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		float: left;		
		height: 26px;
	}
	.toolbox button {
		background: #fff linear-gradient(#ffffff, #eaeaea) repeat scroll 0 0;
		box-shadow: 0 0 0 1px #fff inset;

		box-sizing: border-box;

		border: 1px solid #d3d3d3;
		border-radius: inherit;

		cursor: pointer;

		/*vertical-align: bottom; SUPP ?*/

		height: 24px;
		min-width: 24px;

		margin: 0 0 0 -1px;			    
		padding: 0.3rem 0.4rem;

		/* Pour ne pas prendre le dessus sur les couleurs spécifier pour la fonction color SUPP ? 29/03/2022 */
		/* color: #545454; */

		font-size: 1.2rem;
		font-family: inherit;
	}
		.toolbox button:hover,
		.toolbox #color-option button.checked {
			background: #E5F6F1 linear-gradient(#e5f6f1, #6fcdd5) repeat scroll 0 0;
			box-shadow: 0 0 0 1px #e5f6f1 inset;
		}
		.toolbox button:focus {
			background: #6fcdd5 linear-gradient(#6fcdd5, #e5f6f1) repeat scroll 0 0;
			box-shadow: 0 0 0 1px #6fcdd5 inset;
		}
		.toolbox li:first-child, .toolbox li:last-child button {
			border-radius: 4px 0 0 4px;
		}
		.toolbox li:last-child, .toolbox li:last-child button {
			border-radius: 0 4px 4px 0;
			height: 26px !important;
		}
		.toolbox button .minus {
			font-size: 0.6em;
			margin-left: -2px;
			vertical-align: top;
		}
		.toolbox button.color-option {
			font-size: 12px;
    		line-height: 9px;
		}
			.toolbox #color-option button[class^="color-"] {
				font-size: 22px;
			    padding-bottom: 8px;
			    line-height: 13px;
			}


	.toolbox:hover {
		opacity: 1;
	}

	/* Fleche sous la toolbox */
	.toolbox:after {
		border: 6px solid transparent;
		border-top-color: #d3d3d3;
		content: ' ';
		position: absolute;
		margin-left: -7px;
		bottom: -12px;
		left: 12px;/*50%*/
		height: 0px;
		width: 0px;
	}

	/* Fleche au dessu de la toolbox */
	.toolbox.under:after { 
		border-bottom-color: #d4d4d4;
		border-top-color: transparent;
		top: -12px;
	}

	.toolbox .option {
		background-color: #eaeaea;
		height: 100%;
		display: none;
	}

	.toolbox input {
		color: #516062;
		height: 100%;			
		border-radius: 0;
		padding: 0.33em 0.5rem 0.4rem;
	}
	.toolbox input:focus { border: 1px solid #c0dede; }
	
	.toolbox#resize-tool {
		background-color: #eaeaea;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		padding: 0.2rem;
	}
		.toolbox#resize-tool input { height: 22px; }

	/*couleur icone */
	.toolbox .fa-picture { color: #56aead; }
	.toolbox .fa-link { color: #b64e4e; }


.clear-file {
	background: grey;

	color: #fff !important;
	font-size: 0.8em;
	font-family: sans-serif;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.6rem;

    border-radius: 0 5px 0 0;
	
	display: none;
	opacity: .5;

    position: absolute;
	bottom: 0;
    left: 0;    
    
    z-index: 2;

    padding: 0 0.4rem;

    transition: all .3s;
}
	.clear-file:hover, .print-size:hover { opacity: 1; }

.print-size {
	background: #fff;

	color: #000 !important;
	font-size: 0.6em;
	font-family: sans-serif;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.6rem;
    cursor: default;

    border-radius: 5px 0 0 0;
	
	display: none;
	opacity: .8;

    position: absolute;
	bottom: 0;
    right: 0;    
    
    z-index: 2;

    padding: 0 0.4rem;

    transition: all .3s;
}


#unlink { color: #9E1E1E; }


/*header:hover { box-shadow: 0 0 0 2px rgba(122, 210, 217, 0.7) inset; }
footer:hover { box-shadow: 0 0 0 2px rgba(122, 210, 217, 0.7) inset; }*/


/* 768px => tablette 1280x800 */

@media screen and (max-width: 650px) 
{
	.ui-tabs-nav span {
		display: none;
	}

	.ui-widget-content {
		width: 98% !important;
	}
}